body {
    margin: 0;
    padding: 0;
    font-family: "Tiny5", sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
    position: relative;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: url("assets/fondojuego.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.7);
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.back-btn {
    position: absolute;
    left: 40px;
    top: 40px;
    font-family: "Tiny5", sans-serif;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.back-btn:hover {
    background: white;
    color: black;
}

.song-title {
    font-size: 42px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 22px;
    opacity: 0.8;
    margin-bottom: 40px;
}


.modes {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 20px;
}

.mode {
    text-align: center;
}


.mode-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.classic {
    color: #00ff88;
}

.sudden {
    color: #ff5f5f;
}

.score {
    font-size: 20px;
    margin-bottom: 15px;
}


.play-icon {
    font-family: "Tiny5", sans-serif;
    font-size: 28px;
    color: black;
    border: none;
    padding: 14px 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 6px;
}

.mode .play-icon.classic-btn {
    background-color: #00ff88;
}

.mode .play-icon.sudden-btn {
    background-color: #ff5f5f;
}

.play-icon:hover {
    transform: scale(1.1);
}

