body {
    margin: 0;
    padding: 0;
    font-family: "Tiny5", sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: url("assets/fondojuego.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.7);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.back-btn {
    position: absolute;
    left: 40px;
    top: 40px;
    font-family: "Tiny5", sans-serif; 
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.back-btn:hover {
    background: white;
    color: black;
}

.title {
    font-size: 48px;
    margin-top: 100px;
    letter-spacing: 3px;
}


.song-card {
    margin-top: 40px;
    width: 70%;
    max-width: 800px;
    background: #1a1a1a;
    border: 2px solid white;
    padding: 35px 45px;
}


.song-info {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.song-icon {
    font-size: 40px;
}

.song-title {
    font-size: 28px;
    margin: 0;
    letter-spacing: 2px;
}

.song-author {
    margin: 0;
    font-size: 16px;
    opacity: 0.6;
}

.song-card hr {
    margin: 25px 0;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}


.modes {
    display: flex;
    justify-content: space-between;
}

.mode {
    text-align: center;
}

.mode-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.classic {
    color: #00ff88;
}

.sudden {
    color: #ff5f5f;
}

.score {
    font-size: 18px;
}

