body {
    margin: 0;
    padding: 0;
    font-family: "Tiny5", sans-serif; 
    background: #000;
    overflow: hidden;
    color: white;
    position: relative;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: url("assets/fondojuego.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.7);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 1;
}


.title {
    font-size: 64px;
    letter-spacing: 4px;
    margin-bottom: 40px;
}


.play-btn {
    font-family: "Tiny5", sans-serif; 
    background: white;
    color: black;
    border: none;
    padding: 18px 50px;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    transition: transform 0.2s ease;
}

.play-btn:hover {
    transform: scale(1.05);
}


.icon {
    font-family: "Tiny5", sans-serif; 
    font-size: 22px;
}


.subtitle {
    font-family: "Tiny5", sans-serif;
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.5;
}
